<!DOCTYPE HTML>
<html lang="en" class="no-js">
  <head>
      <title>JavaScript Test</title>
      <meta charset="UTF-8">
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

      <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
      <link rel="stylesheet" href="css/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  </head>
  <body>
    <header>
      <h1 class = "main-title">JavaScript Test</h1>
      <div class="content">
        {{ content }}
      </div>
    </header>
    <script src="js/script.js"></script>
  </body>
</html>
